* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/Untitled-1.png);
  background-position: top;
  background-size: cover;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 350px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form .header {
  width: 60vw;
  text-align: center;
  color: white;
  font-family: "Work Sans", sans-serif;
  padding-top: 30px;
}

.form .header h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8rem;
  margin-top: -30px;
}

.form .header h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 4rem;
  font-weight: 200;
}

.form .searchDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.form .searchDiv .allCountries,
.form .searchDiv .reset {
  background-color: white;
  border: 4px solid white;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: black;
}

.form .searchDiv .allCountries:hover,
.form .searchDiv .reset:hover {
  background-color: #004680;
  color: white;
  border: 4px solid #004680;
}

.form .searchDiv .allCountries:focus,
.form .searchDiv input:focus,
.form .searchDiv .reset:focus {
  outline: none;
  border: 4px solid #004680;
}

.form .searchDiv input {
  background-color: white;
  border: 4px solid white;
  border-radius: 20px;
  padding: 15px;
  width: 200px;
  margin: 20px 0px;
}

.form .searchDiv input:hover {
  border: 4px solid #004680;
}

.form .searchDiv input::-webkit-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.form .searchDiv input:-ms-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.form .searchDiv input::-ms-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.form .searchDiv input::placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.form .searchDiv .searchBtn {
  background-color: transparent;
  color: black;
  border: none;
  margin-left: -40px;
  width: 30px;
  height: 30px;
}

.form .searchDiv .searchBtn:hover {
  color: #004680;
}

.countries {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
  margin-bottom: 5px;
  text-align: center;
}

.row .flag {
  margin-left: 5%;
  width: 20%;
}

.row .flag img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.row .name,
.row .capital,
.row .currencies,
.row .domain {
  width: 12%;
}

.row .borders {
  width: 18%;
}

.fields {
  background-color: rgba(0, 0, 0, 0.842);
  margin-top: -70px;
  height: 70px;
}

@media only screen and (max-width: 915px) {
  .wrapper {
    font-weight: 100 !important;
  }
  h1 {
    font-size: 6rem !important;
  }
  h3 {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 720px) {
  h1,
  h3 {
    text-align: center !important;
    margin: 0 !important;
    font-size: 4rem !important;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  button {
    font-size: 13px !important;
  }
  .searchDiv {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .searchDiv input {
    margin: 0 20px !important;
    height: 35px !important;
    padding: 0 !important;
  }
  .searchDiv input::-webkit-input-placeholder {
    font-size: 13px !important;
  }
  .searchDiv input:-ms-input-placeholder {
    font-size: 13px !important;
  }
  .searchDiv input::-ms-input-placeholder {
    font-size: 13px !important;
  }
  .searchDiv input::placeholder {
    font-size: 13px !important;
  }
  .searchDiv .searchBtn {
    margin-left: -50px !important;
    margin-right: 20px;
  }
  .flag {
    width: 15% !important;
  }
  .flag img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
  }
  .name,
  .capital,
  .currencies,
  .domain {
    margin-right: 20px;
    width: 12%;
  }
}
/*# sourceMappingURL=style.css.map */